
<div class="container" style="padding: 1rem !important; margin-bottom: 1rem !important;">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-between"
            style="border-bottom: 1px solid #d5d5d5;">

            <div class="my-3 d-flex align-items-center">
                <div
                    style="background-color: #7C7BAD !important; color: #fff !important; font-weight: 600 !important; padding: 5px 15px 8px !important; margin: 0 5px !important;">
                    <i class="fa fa-check mr-1"></i>Community
                </div>
                <div
                    style="background-color: #875A7B !important; color: #fff !important; font-weight: 600 !important; padding: 5px 15px 8px !important; margin: 0 5px !important;">
                    <i class="fa fa-check mr-1"></i>Enterprise
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container" style="padding: 0rem 1.5rem 4rem !important">
    <div class="row" style="height: 700px !important;">
        <div class="col-sm-12 col-md-12 col-lg-12"
            style="padding: 4rem 1rem !important; background-color: #2e658a !important; height: 600px !important; border-radius: 20px !important;">
            <h1
                style="font-family: 'Montserrat', sans-serif !important; font-weight: 600 !important; color: #FFFFFF !important;  font-size: 3.5rem !important; text-align: center !important;">
                Access Restriction By MAC Address </h1>
            <p
                style="font-family: 'Montserrat', sans-serif !important; font-weight: 300 !important; color: #FFFFFF !important;  font-size: 1.4rem !important; text-align: center !important;">
                User can access his account only from MAC Address allowed
            </p>
            <img src="./assets/screenshots/warning.png" class="img-responsive" width="100%" height="auto" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="border-bottom: 1px solid #d5d5d5 !important; margin-bottom: 2rem !important">
            <h2
                style="font-family: 'Montserrat', sans-serif !important; font-weight: 600 !important; color: #714B67 !important; font-size: 1.5rem !important;">
                <i class="fa fa-compass mr-2"></i>Explore this module
            </h2>
        </div>
        <div class="col-md-6">
            <a href="#overview" style="text-decoration: none !important;">
                <div class="row"
                    style="background-color: #f5f2f5 !important; border-radius: 10px !important; margin: 1rem !important; padding: 1.5em !important; height: 100px !important;">
                    <div class="col-8">
                        <h3
                            style="font-family: 'Montserrat', sans-serif !important; font-weight: 600 !important; color: #714B67 !important; font-size: 1.2rem !important;">
                            Overview</h3>
                        <p
                            style="font-family: 'Roboto', sans-serif !important; font-weight: 400 !important; color: #714B67 !important; font-size: 0.9rem !important;">
                            Learn more about this module</p>
                    </div>
                    <div class="col-4 text-right d-flex justify-content-end align-items-center">
                        <i class="fa fa-chevron-right" style="color: #714B67 !important;"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="#features" style="text-decoration: none !important;">
                <div class="row"
                    style="background-color: #f5f2f5 !important; border-radius: 10px !important; margin: 1rem !important; padding: 1.5em !important; height: 100px !important;">
                    <div class="col-8">
                        <h3
                            style="font-family: 'Montserrat', sans-serif !important; font-weight: 600 !important; color: #714B67 !important; font-size: 1.2rem !important;">
                            Features</h3>
                        <p
                            style="font-family: 'Roboto', sans-serif !important; font-weight: 400 !important; color: #714B67 !important; font-size: 0.9rem !important;">
                            View features of this module</p>
                    </div>
                    <div class="col-4 text-right d-flex justify-content-end align-items-center">
                        <i class="fa fa-chevron-right" style="color: #714B67 !important;"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="#screenshots" style="text-decoration: none !important;">
                <div class="row"
                    style="background-color: #f5f2f5 !important; border-radius: 10px !important; margin: 1rem !important; padding: 1.5em !important; height: 100px !important;">
                    <div class="col-8">
                        <h3
                            style="font-family: 'Montserrat', sans-serif !important; font-weight: 600 !important; color: #714B67 !important; font-size: 1.2rem !important;">
                            Screenshots</h3>
                        <p
                            style="font-family: 'Roboto', sans-serif !important; font-weight: 400 !important; color: #714B67 !important; font-size: 0.9rem !important;">
                            See key screenshots of this module</p>
                    </div>
                    <div class="col-4 text-right d-flex justify-content-end align-items-center">
                        <i class="fa fa-chevron-right" style="color: #714B67 !important;"></i>
                    </div>
                </div>
            </a>
        </div>

    </div>


    <div class="row" id="overview">
        <div class="col-md-12" style="border-bottom: 1px solid #d5d5d5 !important; margin: 2rem 0 !important">
            <h2
                style="font-family: 'Montserrat', sans-serif !important; font-weight: 600 !important; color: #714B67 !important; font-size: 1.5rem !important;">
                <i class="fa fa-pie-chart mr-2"></i>Overview
            </h2>
        </div>

        <div class="col-mg-12 pl-3">
            <p
                style="font-family: 'Roboto', sans-serif !important; font-weight: 400 !important; color: #282F33 !important; font-size: 1rem !important; line-height: 30px !important;">
                User Can Access His Account Only From Specified MAC Address
            </p>

        </div>
    </div>


    <div class="row" id="features">
        <div class="col-md-12" style="border-bottom: 1px solid #d5d5d5 !important; margin: 2rem 0 !important">
            <h2
                style="font-family: 'Montserrat', sans-serif !important; font-weight: 600 !important; color: #714B67 !important; font-size: 1.5rem !important;">
                <i class="fa fa-star mr-2"></i>Features
            </h2>
        </div>

        <div class="col-md-6 pl-3 py-3 d-flex">
            <div>
                <img src="assets/icons/check.png">
            </div>
            <div>
                <h4
                    style="font-family: 'Roboto', sans-serif !important; font-weight: 600 !important; color: #282F33 !important; font-size: 1.3rem !important;">
                    Admin Access</h4>
                <p
                    style="font-family: 'Roboto', sans-serif !important; font-weight: 400 !important; color: #282F33 !important; font-size: 1rem !important;">
                    Admin can set MAC Address to each users.</p>
            </div>
        </div>

        <div class="col-md-6 pl-3 py-3 d-flex">
            <div>
                <img src="assets/icons/check.png">
            </div>
            <div>
                <h4
                    style="font-family: 'Roboto', sans-serif !important; font-weight: 600 !important; color: #282F33 !important; font-size: 1.3rem !important;">
                    User Restriction</h4>
                <p
                    style="font-family: 'Roboto', sans-serif !important; font-weight: 400 !important; color: #282F33 !important; font-size: 1rem !important;">

                    Users can access their account from allowed MAC address.</p>
            </div>
        </div>

        <div class="col-md-6 pl-3 py-3 d-flex">
            <div>
                <img src="assets/icons/check.png">
            </div>
            <div>
                <h4
                    style="font-family: 'Roboto', sans-serif !important; font-weight: 600 !important; color: #282F33 !important; font-size: 1.3rem !important;">
                    Restricted Login</h4>
                <p
                    style="font-family: 'Roboto', sans-serif !important; font-weight: 400 !important; color: #282F33 !important; font-size: 1rem !important;">
                    Accessing system from a non-specified MAC Address will restrict the user login.</p>
            </div>
        </div>

        <div class="col-md-6 pl-3 py-3 d-flex">
            <div>
                <img src="assets/icons/check.png">
            </div>
            <div>
                <h4
                    style="font-family: 'Roboto', sans-serif !important; font-weight: 600 !important; color: #282F33 !important; font-size: 1.3rem !important;">
                    Warning</h4>
                <p
                    style="font-family: 'Roboto', sans-serif !important; font-weight: 400 !important; color: #282F33 !important; font-size: 1rem !important;">
                    A warning message will be displayed.</p>
            </div>
        </div>

        <div class="col-md-6 pl-3 py-3 d-flex">
            <div>
                <img src="assets/icons/check.png">
            </div>
            <div>
                <h4
                    style="font-family: 'Roboto', sans-serif !important; font-weight: 600 !important; color: #282F33 !important; font-size: 1.3rem !important;">
                    MAC Address</h4>
                <p
                    style="font-family: 'Roboto', sans-serif !important; font-weight: 400 !important; color: #282F33 !important; font-size: 1rem !important;">
                    If there is no Mac is set to user acount that means there is not any restriction by MAC address. MAC address can be set on users form view for each users</p>
            </div>
        </div>

    </div>

    <div class="row" id="screenshots">
        <div class="col-md-12" style="border-bottom: 1px solid #d5d5d5 !important; margin: 2rem 0 !important">
            <h2
                style="font-family: 'Montserrat', sans-serif !important; font-weight: 600 !important; color: #714B67 !important; font-size: 1.5rem !important;">
                <i class="fa fa-image mr-2"></i>Screenshots
            </h2>
        </div>
        <div class="col-lg-12 my-2">
            <h4 class="mt-2"
                style="font-family: 'Roboto', sans-serif !important; font-weight: 600 !important; color: #282F33 !important; font-size: 1.3rem !important;">
                MAC address Setting for User</h4>
            <p
                style="font-family: 'Roboto', sans-serif !important; font-weight: 400 !important; color: #282F33 !important; font-size: 1rem !important;">
                MAC address Setting for User in form view</p>
            <p
                style="font-family: 'Roboto', sans-serif !important; font-weight: 400 !important; color: #282F33 !important; font-size: 1rem !important;">
                User will be able to logged into his account only from this MAC Address</p>
            <img src="assets/screenshots/mac_access.png" class="img-responsive img-thumbnail border"
                width="100%" height="auto" />
        </div>
        
        <div class="col-lg-12 my-3">
            <h4 class="mt-3"
                style="font-family: 'Roboto', sans-serif !important; font-weight: 600 !important; color: #282F33 !important; font-size: 1.3rem !important;">
                User accessing his account</h4>
            <p
                style="font-family: 'Roboto', sans-serif !important; font-weight: 400 !important; color: #282F33 !important; font-size: 1rem !important;">
                On accessing account from a non specified IP.
            </p>
            <img src="assets/screenshots/warning.png" class="img-responsive img-thumbnail border"
                width="100%" height="auto" />
        </div>

    </div>


    <!-- FOOTER -->
    <!-- Footer Section -->
    <section class="container" style="margin: 5rem auto 2rem;">
        <div class="row" style="max-width:1540px;">
            <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center">
                <h2 style="color: #212529 !important;">Need Help?</h2>
                <hr
                    style="border: 3px solid #714B67 !important; background-color: #714B67 !important; width: 80px !important; margin-bottom: 2rem !important;" />
            </div>
        </div>

        <!-- Contact Cards -->
        <div class="row d-flex justify-content-center align-items-center"
            style="max-width:1540px; margin: 0 auto 2rem auto;">

            <div class="col-lg-12" style="padding: 0rem 3rem 2rem; border-radius: 10px; margin-right: 3rem; ">

                <div class="row mt-4">
                    <div class="col-lg-6">
                        <a href="mailto:ahmadinayat75@gmail.com" target="_blank" class="btn btn-block mb-2 deep_hover"
                            style="text-decoration: none;  background-color: #4d4d4d; color: #FFF;  border-radius: 4px;"><i
                                class="fa fa-envelope mr-2"></i>ahmadinayat75@gmail.com</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="https://api.whatsapp.com/send?phone=923349275408" target="_blank"
                            class="btn btn-block mb-2 deep_hover"
                            style="text-decoration: none;  background-color: #25D366; color: #FFF;  border-radius: 4px;"><i
                                class="fa fa-whatsapp mr-2"></i>WhatsApp</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- End of Contact Cards -->
    </section>
    <!-- Footer -->
    <section class="oe_container" style="padding: 2rem 3rem 1rem;">
        <div class="row" style="max-width:1540px; margin: 0 auto; margin-right: 3rem; ">
            <div class="col-lg-12">
                <hr
                    style="margin-top: 3rem;background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(229,229,229,1) 33%, rgba(229,229,229,1) 58%, rgba(0,212,255,0) 100%); height: 2px; border-style: none;">
                <!-- End of Footer Section -->
            </div>
        </div>
    </section>
    <!-- END OF FOOTER -->

</div>